* {
    font-family: arial;
}

.rekomendasi {
    width: 200px;
}

.table3,
.table4,
.table5 {
    border-collapse: collapse;
}

.table3 td,
.table4 td,
.table5 td,
th {
    border: 1px solid black;
}

.ab {
    border-collapse: collapse;
    border: 2px #000 solid;
}

.table1 td,
.table2 td,
.table3 td {
    vertical-align: middle !important;
}

table.ab {
    border: 2 #000 solid;
}

.wd {
    color: red;
}

th {
    background-color: #fac090;
    text-align: center;
}

.no {
    padding: 10px;
    text-align: center;
}

.bpd {
    width: 96%;
}

.ta {
    width: 92%;
}

.tatd {
    width: 60px;
}

.catmin {
    width: 200px;
    height: 100px;
}

textarea {
    resize: vertical;
}

.table3 {
    height: 350px;
}

.table3 input,
.table3 .input,
.table3 select {
    margin: 0;
}

.invoice-box .table3 td {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.white-placeholder::placeholder {
    color: #f0f8ff;
}

[class*="l-"] {
    float: none;
}

.swal-button--confirm,
.swal-button--cancel {
    background-color: #072d3a;
    color: #fff;
}

.swal-button--confirm:hover,
.swal-button--cancel:hover {
    background-color: #072d3a !important;
}

output {
    display: block;
}

.table6 {
    border: 1px solid black;
    border-collapse: collapse;
}

.table6 tr td {
    border: 1px solid black;
    border-collapse: collapse;
}
.align-center {
    text-align: center;
}
